parameters:
	ignoreErrors:
		-
			message: "#^Cannot call method getName\\(\\) on mixed\\.$#"
			count: 1
			path: lib/Qandidate/Toggle/ToggleCollection/PredisCollection.php

		-
			message: "#^Method Qandidate\\\\Toggle\\\\ToggleCollection\\\\PredisCollection\\:\\:all\\(\\) should return array\\<Qandidate\\\\Toggle\\\\Toggle\\> but returns array\\<int\\|string, mixed\\>\\.$#"
			count: 1
			path: lib/Qandidate/Toggle/ToggleCollection/PredisCollection.php

		-
			message: "#^Method Qandidate\\\\Toggle\\\\ToggleCollection\\\\PredisCollection\\:\\:get\\(\\) should return Qandidate\\\\Toggle\\\\Toggle\\|null but returns mixed\\.$#"
			count: 1
			path: lib/Qandidate/Toggle/ToggleCollection/PredisCollection.php

